
#seating-plan {
  display: flex;
  max-width: 200px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-around;
  .row {
    margin: 3px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .seat {
    margin: 2px;
    height: 20px;
    width: 20px;
    background-color: red;
  }
}

.admin_container {
  margin: 0 auto;
  text-align: left;
  width: 80%;
  background: white;
  border: 5px solid black;
  padding: 20px;
  tr {
    padding: 0 20px 0 20px;
  }
  td {
    text-align: left;
  }
  h1 {
    text-align: left;
    margin-bottom: 30px
  }
  .seat {
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 4px;
    color: #222;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    margin: 3px;
  }
}

.reserved {
  background-color: grey;
}
