#reservations > ul > li, #searchResults > ul > li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}


.searchResult {
  display: block;
  margin: 5px;
  background-color: gainsboro;
}
