@import "bootstrap-sprockets";
@import "bootstrap";

#reservations > ul > li, #searchResults > ul > li {
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;
  min-width: 60px;
  font-size: 12pt;
}

#reservations > ul:nth-child(odd) {
  background: rgba(121, 130, 121, 0.19);
}

.bookingDetails {
  list-style-type: none;
  font-size: 30px;
  padding: 10px 10px;
}

html {
  height: 100%;
  width: 100%;
}

.header-tag {
  font-family: Oswald;
  padding-bottom: 15px;
}

body {
  padding-top: 70px;
  background: url('https://lh3.googleusercontent.com/yo1wHkFfamkkp2WgZDnnguT-Ou50fnJ_L1SxwxqjbYkQERyg0iAFloy6Yce6afSA1g4O=h900');
  background-position: center;
  background-attachment:fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  background: white;
  border: 5px solid black;
  padding-bottom: 10px;
}

.seat {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  display: inline-block;
  text-align: center;
  margin: 2px;
}

.seat:hover{
  background-color: red;
}

[selected='selected']{
  background-color: red;
}

.searchResult {
  display: block;
  margin: 5px;
  background-color: gainsboro;

}

.row-number {
  width: 20px;
  display: inline-block;
}

.bookingButton {
  display: inline-block;
  border: none;
  background: none;
  color: #F56060;
  font-size: 12pt;
}

.navbar-brand {
  font-family: Lobster;
  font-size: 20pt !important;
  color: #A1D6FF !important;
  padding: 0px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
    padding-top: 10px;
}

#searchButton {
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    outline: none;
    border: 2px solid #000;
    color: #F56060;
    box-shadow: 4px 4px #000;
    font-family: Lobster;
    font-size: 14pt;
    border-radius: 8px;
    padding: 5px;
}

#searchButton:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px #000;
}


#originSelect {
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    outline: none;
    border: 2px solid #000;
    color: #000;
    box-shadow: 1px 1px #000;
    font-family: Oswald;
    font-size: 14pt;
    border-radius: 8px;
    padding: 26px;
    height: 38px;
}


#destinationSelect {
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    outline: none;
    border: 2px solid #000;
    color: #000;
    box-shadow: 1px 1px #000;
    font-family: Oswald;
    font-size: 14pt;
    border-radius: 8px;
    padding: 26px;
    height: 38px;
}


.glyphicon-fire{
  color: #FF7F50;
}
