#reservations > ul > li, #searchResults > ul > li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}


.seat {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  display: inline-block;
  text-align: center;
  margin: 2px;
}

.seat:hover{
  background-color: orange;
}

[selected='selected']{
  background-color: red;
}

.searchResult {
  display: block;
  margin: 5px;
  background-color: gainsboro;

}
