<div class="admin_container">
  <h1>Edit Airplane <%= @airplane.id %></h1>

  <%= render 'form' %>

  <%= link_to 'Show', @airplane, class: "btn btn-default" %>
  <%= link_to 'Back', airplanes_path, class: "btn btn-default" %>
</div>
