<div id="main">
</div>

<script id="appViewTemplate" type="text/template">
  <h1>My Flights</h1>
  <div id="reservations"></div>
  <button id="searchButton">Search for Flights</button>
</script>

<script id="reservationViewTemplate" type="text/template">
  <li>{{= flight_number }}</li>
  <li>{{= origin }}</li>
  <li>{{= destination }}</li>
  <li>{{= date }}</li>
  <li>{{= seat_row + seat_column }}</li>
  <button id="{{= id }}" class="bookingButton">Booking Info</button>
</script>


<script id="searchViewTemplate" type="text/template">

  <select id="originSelect">
    <option disabled selected>Select Origin</option>
  </select>

  <select id="destinationSelect" disabled>
    <option disabled selected>Select Destination</option>
  </select>

  <button id=searchButton>
    Find Flights!
  </button>

  <div id="searchResults">
  </div>

</script>

<script id="airplaneViewTemplate" type="text/template">
  <button id="confirm">Checkout</button>
</script>

<script id="searchResultTemplate" type="text/template">
  <li>{{= flight_number }}</li>
  <li>{{= origin }}</li>
  <li>{{= destination }}</li>
  <li>{{= date }}</li>
  <li><button class="toReservations">make reservation!</button></li>
</script>

<script id="bookingViewTemplate" type="text/template">
  <li>{{= flight_number }}</li>
  <li>{{= origin }}</li>
  <li>{{= destination }}</li>
  <li>{{= date }}</li>
  <li>{{= seat_row + seat_column }}</li>
  <li>{{= name }}</li>
</script>
