<div id="main">
</div>

<script id="appViewTemplate" type="text/template">
  <h1>My Flights</h1>
  <div id="reservations"></div>
  <button id="searchButton">Search for Flights</button>
</script>

<script id="reservationViewTemplate" type="text/template">
  <li>{{= flight_number }}</li>
  <li>{{= origin }}</li>
  <li>{{= destination }}</li>
  <li>{{= date }}</li>
  <li>{{= seat_row + seat_column }}</li>
</script>


<script id="searchViewTemplate" type="text/template">

  <select id="originSelect">
    <option></option>
  </select>

  <select id="destinationSelect">
  </select>

  <button id=searchButton>
    Find Flights!
  </button>

  <div id="searchResults">
  </div>

</script>

<script id="airplaneViewTemplate" type="text/template">
</script>
