<div class="container">
<div id="main">
</div>
</div>

<script id="appViewTemplate" type="text/template">
  <h1 class="header-tag">My Flights</h1>
  <div id="reservations"></div>
  <button id="searchButton">Search for Flights <span class="glyphicon glyphicon-chevron-right"></span></button>
</script>

<script id="reservationViewTemplate" type="text/template">
  <li>{{= flight_number }}</li>
  <li>{{= origin }}</li>
  <li>{{= destination }}</li>
  <li>{{= date }}</li>
  <li>{{= seat_row + seat_column }}</li>
  <span class="booking-button-container"><button id="{{= id }}" class="bookingButton">Booking Info <span class="glyphicon glyphicon-chevron-right"></span></button></span>
</script>


<script id="searchViewTemplate" type="text/template">
  <h1 class="header-tag">Flight Search</h1>

  <select id="originSelect">
    <option disabled selected>Select Origin</option>
  </select>

  <select id="destinationSelect" disabled>
    <option disabled selected>Select Destination</option>
  </select>

  <button id="searchButton">
    Find Flights!
  </button>

  <div id="searchResults">
  </div>

</script>

<script id="airplaneViewTemplate" type="text/template">
  <button id="confirm">Checkout</button>
  <h1 class="header-tag">Please select a Seat</h1>
</script>

<script id="searchResultTemplate" type="text/template">
  <li>{{= flight_number }}</li>
  <li>{{= origin }}</li>
  <li>{{= destination }}</li>
  <li>{{= date }}</li>
  <li><button class="toReservations">Choose Seats <span class="glyphicon glyphicon-chevron-right"></span></button></li>
</script>

<script id="bookingViewTemplate" type="text/template">
  <h1>Booking Details</h1>
  <li class="bookingDetails">Flight Number: {{= flight_number }}</li>
  <li class="bookingDetails">Origin: {{= origin }}</li>
  <li class="bookingDetails">Destination: {{= destination }}</li>
  <li class="bookingDetails">Date: {{= date }}</li>
  <li class="bookingDetails">Seat Number: {{= seat_row + seat_column }}</li>
  <li class="bookingDetails">Aircraft: {{= name }}</li>
</script>
